BOT_TOKEN=xxxxxxxxxxxxxxxxxxxx
DEVELOPER_ID=xxxxxxxxxxxxxxxxx
DEVELOPER_USERNAME=xxxxxxxxxxxxxxxxx

DEBUG=False
CACHE=True
ENVIRONMENT=production
TZ=Europe/Moscow

SYNC_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
ASYNC_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=xxxxxxxxxxxxxxxxxx
REDIS_KEY_EX=180
RATE_LIMIT=15

ITEMS_PER_PAGE=5
